@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  background-image: linear-gradient(to left, #1e293b, black);
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to left, #1e293b, black);
}
.carousel .thumbs-wrapper {
  margin: 20px 0px;
}
html,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  @apply border text-gray-50 uppercase py-2 text-sm px-6 hover:-translate-y-1 transition-all duration-300;
}
